.cart{
    height: 250vh;
}

.cart-wrapper{
    border: solid green 1px;
    height: 100vh;
    width: 1200px;
    margin: auto;
    
    display: flex;
    justify-content: space-between;
}

.cart-left{
    border: solid green 1px;
    height: 1500px;
    width: 790px;
}

.cart-right{
    border: solid green 1px;
    height: 400px;
    width: 380px;
}

.cart-left-deal{
    background-color: #EEEEEE;
    height: 80px;
    width: 100%;
    margin-bottom: 20px;
}

.cart-your-cart{
    background-color: #EEEEEE;
    height: 80px;
    width: 100%;
    display: flex;
    align-items: center;
    padding-left: 30px;
    font-size: 20px;
    box-sizing: border-box;
}

.cart-summary{
    background-color: black;
    color: white;
}

.cart-summary div{
    /* background-color: black; */
    color: white;
}

.cart-product{
    border: solid black 1px;
    height: 250px;
    width: 100%;
    display: flex;
    justify-content: space-between;
}

.cart-product-image{
    border: solid black 1px;
    width: 25%;
}
.cart-product-middle{
    border: solid black 1px;
    width: 55%;
    padding-left: 20px;
}
.cart-product-cost{
    border: solid black 1px;
    width: 20%;
}

.cart-product img{
    height: 100%;
    width: 190px;
}

.cart-product-buttons{
    width: 250px;
    border: solid black 1px;
    display: flex;
    justify-content: space-between;
}

.cart-product-name{
    margin-bottom: 15px;
}

.cart-product-size{
    margin-bottom: 15px;
}

