.shopheader{
    border-top: orange solid 2px;
    border-bottom: orange solid 2px;
    width: 100%;
    height: 70px;
    display: flex;
    justify-content: center;
    
}

.shopheader-links{
    border: solid pink 1px;
    width: 450px;
    display: flex;
    justify-content: space-between;
}

.shopheader-links button{
    border: solid green 2px;
    width: 100px;
    display: flex;

}

/* .cart-button{
    border: solid pink 1px;
    width: 80px;
} */

