.checkout{
    height: 200vh;    
}

.checkout-body{
    width: 85%;
    height: 150vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.checkout-title{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 70px;
    font-size: 30px;
}

.checkout-left{
    border: solid #E5E5E5 .5px;
    width: 68%;
    height: 90vh;
}

.checkout-right{
    width: 28%;
}

.checkout-shipping{
    height: 70px;
    background-color: black;
    color: white;
    padding-left: 5%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.savecontinue{
    display: flex;
    justify-content: center;
}

.savecontinue button{
    background-color: #F75722;
    color: white;
    height: 40px;
    width: 160px;
    border-radius: 3px;
    margin-top: 20px;
}

.payment{
    height: 70px;
    background-color: black;
    color: white;
    padding-left: 5%;
    display: flex;
    align-items: center;
    margin-bottom: 25px;
}

.checkout-left-body{
    width: 93%;
    height: 45vh;
    margin: auto;
}

.checkout-names{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 20px;
}

.checkout-names input{
    height: 50px;
    width: 210px;
}

.checkout-address{
    margin-bottom: 20px;
}

.checkout-address input{
    height: 50px;
    width: 100%;
}

.checkout-address-info{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;
}

.checkout-address-info input{
    height: 50px;
    width: 100%;
}

.checkout-summary{
    border: solid #E5E5E5 .5px;
    height: 220px;
    width: 100%;
    margin-bottom: 30px;
}


.checkout-summary .title{
    height: 70px;
    background-color: #E5E5E5;
    padding-left: 10%;
    display: flex;
    align-items: center;
}

.checkout-prices{
    padding: 15px;
}

.pricespacing{
    display: flex;
    justify-content: space-between;
    margin-top: 5px;
}

.pricespacing1{
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
}

.checkout-incart{
    border: solid #E5E5E5 .5px;
    margin-top: 25px;
}

.stripe{
    display: flex;
    justify-content: center;
}

.checkout-incart{
    height: 400px;
}

.checkout-incart .in-title{
    height: 70px;
    background-color: #E5E5E5;
    padding-left: 10%;
    display: flex;
    align-items: center;
}

.checkout-items-below{
    height: 600px;
    padding: 2px 3px;;
}

.checkout-items{
    display: flex;
}

.checkout-items-image{
    height: 100px;
    width: 100px;
}

.checkout-items-image img{
    height: 100px;
    width: 80px;
}

.lower-two{
    height: 100px;
    width: 220px;
}

.checkout-items-name{
    margin: 15px 0;
}
