.product{
    margin-top: 40px;
    height: 150vh;
    box-sizing: border-box;
}

.product-wrapper{
    height: 100%;
    width: 1150px;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.product-images{
    height: 120vh;
    width: 630px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-info{
    margin-top: 23px;
    height: 90%;
    width: 39%;
    box-sizing: border-box;
}

.product-images img{
    height: 405px;
    width: 310px;
}

.product-info-top{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    height: 20px;
    font-size: 20px;
    color: #6C6C6C;
}

.product-description{
    height: 30px;
    width: 190px;
}

.product-cost{
    height: 30px;
    width: 50px;
}

.product-name{
    height: 80px;
    width: 100%;
    font-size: 35px;
}

.product-choose-size{
    height: 30px;
    width: 100%;
}

.product-size{
    height: 300px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-size button{
    border: solid #ccc 1px;
    width: 20%;
    height: 33%;
    outline:0;
    font-size: 15px;
}

.product-size button:hover{
    border: solid black 2px;
    cursor: pointer;
}

.product-size button:focus{
    background-color: black;
    color: white;
}

.product-add-cart button{
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color .15s;
    margin-bottom: 20px;
}

.product-add-cart button:hover{
    background-color: #4D4D4D;
    cursor: pointer;
}

.product-description{
    margin-top: 10px;
    height: 110px;
    width: 100%;
    margin-top: 25px;
    word-spacing: 5px;
}

.product-description p{
    letter-spacing: 1px;
    word-spacing: 4px;
    line-height: 21px;
}