.product{
    /* border: solid red 1px;
    height: 100vh;
    width: 100%; */
    margin-top: 40px;
    

}

.product-wrapper{
    border: solid green 1px;
    height: 100vh;
    width: 85%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}

.product-images{
    border: solid black 1px;
    height: 900px;
    width: 55%;
    /* width: 750px; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.product-info{
    margin-top: 40px;
    border: solid orange 1px;
    height: 1100px;
    width: 41%;
}

.product-images img{
    /* border: solid black 1px; */

    /* display: block;
    max-width:230px;
    max-height:95px;
    width: auto;
    height: auto; */

    height: 425px;
    width: 350px;
}


.product-description{
    border: solid black 1px;
    height: 50px;
    width: 50px;
}


.product-info-top{
    border: solid purple 1px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;

}
        
.product-name{
    border: solid black 1px;
    height: 50px;
    width: 100%;
    font-size: 40px;
    margin-bottom: 30px;

}

.product-choose-size{
    border: solid black 1px;
    height: 30px;
    width: 100%;
}

.product-cost{
    border: solid black 1px;
    height: 50px;
    width: 50px;
}

.product-size{
    border: solid black 1px;
    height: 210px;
    width: 100%;
    margin-bottom: 30px;
    display: flex;
    flex-wrap: wrap;

}

.product-size button{
    border: solid #ccc 1px;
    height: 70px;
    width: 108px;
    outline:0;
    font-size: 15px;
    /* background-color: gray; */

}

.product-size button:hover{
    border: solid black 2px;
    cursor: pointer;
    /* height: 70px;
    width: 105px;
    outline:0;
    font-size: 15px; */
    /* background-color: gray; */

}

.product-size button:focus{
    /* border: solid black 2px;
    cursor: pointer;
    height: 70px;
    width: 105px;
    outline:0;
    font-size: 15px; */ 
    background-color: black;
    color: white;

}

.product-add-cart button{
    border: solid black 1px;
    height: 60px;
    width: 100%;
    background-color: black;
    color: white;
    font-size: 20px;
    border-radius: 4px;
    transition: background-color .15s;
    
}

.product-add-cart button:hover{
    
    background-color: #4D4D4D;
    cursor: pointer;
    
}