.home{
    height: 200vh;
}

/* .home-margin{
    width: 90%;
    margin: auto;
} */

.home video{
    margin-bottom: 50px;
    /* position: relative; */
}

/* .bball-video{
    margin-bottom: 30px;
    position: relative;
} */

.bball-video video{
    margin-bottom: 30px;
    position:relative;
    z-index:0;
    width: 100%;
}


.kd-home-overlay{
    color: white;
    position:absolute;
    top:50%;
    right:10%;
    z-index:1;
    font-size: 20px;
    text-align: right;
}

.kd-home-overlay div{
    margin-bottom: 20px;
}

.kd-home-overlay button{
    margin-top: 20px;
    margin-left: 10px;
    border-radius: 3px;
    height: 40px;
    width: 100px;
    color: black;
}

.kids-video video{
    margin-bottom: 30px;
    width: 100%;
}


.start{
    font-size: 75px;
}