.header{
    height: 70px;
    width: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

.header-logo{
    border: solid black 1px;
    
}


.header-links{
    /* border: solid black 1px; */
    height: 80px;
    width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
                    
.header-links div{
    /* border: solid black 1px; */
    font-size: 14px;
    text-decoration: none;   
    font-family: Arial, Helvetica, sans-serif;
}

.cart-button{
    border: solid orange 1px;
    /* position: relative; */
    height: 50px;
    width: 50px;
    display: flex;
}

.cart-button img{
    border: solid black 1px;
    /* position: absolute; */
    height: 20px;
    width: 20px;
}

.cart-total{
    /* border: solid red 1px;
    height: 14px;
    width: 12px;
    background-color: #F7551F;
    color: white;
    border-radius: 50%;
    text-align: center;
    font-size: 14px;
    line-height: 13px;
    padding: 2px 2px 0 2px; */
    color: #F7551F;
}